@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Ms Madi', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #d3ad7f;
    border-radius: 5rem;
}

body {
    background: white;
}

section {
    padding: 2rem 7%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    background: #d3ad7f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 25px;
    color: black;
}

.header .navbar a:hover {
    border-bottom: .1rem solid black;
    padding-bottom: .5rem;
}

.home .row {
    background-color: black;
}

.home .row .image {
    width: 100%;
}

.nossahistoria {
    background-color: white;
}

.nossahistoria .titulopagina {
    background-color: white;
    color: black;
    font-family: 'Ms Madi', cursive;
    font-size: 80px;
    text-align: center;
}

.nossahistoria .row {
    display: flex;
    align-items: center;
    background: white;
    flex-wrap: wrap;
}

.nossahistoria .row .image {
    flex: 1 1 45rem;
}

.nossahistoria .row .image img {
    width: 100%;
}

.nossahistoria .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
    background-color: white;
}

.nossahistoria .row .content h3 {
    font-size: 30px;
    color: black;
}

.nossahistoria .row .content p {
    font-size: 16px;
    color: black;
    padding: 1rem 0;
    line-height: 1.8;
}

.dataelocal {
    background-color: white;
}

.dataelocal .row {
    display: flex;
    background: white;
    flex-wrap: wrap;
    gap: 1rem;
}

.dataelocal .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.dataelocal .titulopagina {
    background-color: white;
    color: black;
    font-family: 'Ms Madi', cursive;
    font-size: 80px;
    text-align: center;
}

.listadepresentes .box-container {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.listadepresentes .titulopagina {
    background-color: white;
    color: black;
    font-family: 'Ms Madi', cursive;
    font-size: 80px;
    text-align: center;
}

.listadepresentes {
    background-color: white;
}

.listadepresentes .box-container .box {
    border: var(--border);
    background-color: white;
}

.listadepresentes .box-container .box .image {
    height: 25rem;
    background-color: white;
    overflow: hidden;
    width: 100%;
}

.listadepresentes .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.listadepresentes .box-container .box:hover .image img {
    transform: scale(1.2);
}

.listadepresentes .box-container .box .content {
    padding: 2rem;
    background-color: white;
}

.listadepresentes .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: black;
}

.listadepresentes .box-container .box .content span {
    color: #d3ad7f;
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.listadepresentes .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

.footer {
    background: #D9B583;
    text-align: center;
}

.footer .titulopagina {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}